@model IEnumerable<CityLibrary.ViewModels.AuthorPublisherViewModel>

@section Styles {
    @Styles.Render("~/Content/themes/base/all.css")
}

@{
    ViewBag.Title = "Lista wydawnictw";
}

<h2>Lista wydawnictw</h2>

<hr />
<div class="div-blankspace">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="vertical-separator pull-left"></div>
                @using (Ajax.BeginForm(new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "authorPublisherList",
                    OnSuccess = "animateListContentLoad(authorPublisherList)"
                }))
                {
                    @Html.Hidden("autocompletesource", false)

                    <div class="input-group">
                        @Html.TextBox("publisherName", null, new { @class = "form-control form-control-fixed-width", @placeholder = "Filtruj wydawnictwo...", data_source_autocomplete = Url.Action("Autocomplete") })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@Html.Partial("_AuthorPublisherList", Model)