
<div class="form-group">
    @Html.Label("Autor", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("AuthorsDropDown", null, " -- Wybierz autora -- ", new { @class = "form-control" })
    </div>
</div>
