@section Styles {
    @Styles.Render("~/Content/fontello.css")  
}

@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <div class="row">
        <h1>Biblioteka Kukuryki</h1>
        <p class="lead">Aplikacja do obsługi miejskiej biblioteki będąca projektem zaliczeniowym z przedmiotu "Techniki Internetu", edycja "2016/2017, 2".</p>
    </div>
    <div class="row">
        <div class="col-md-6 no-padding ">
            <h2>Autor</h2>
            <p>
                Daniel Andraszewski <br />
                Nr albumu: 287412 <br />
                Wydział Elektryczny
            </p>
        </div>
        <div class="col-md-6 no-padding">
            <h2>Wykorzystana technologia</h2>
            <p>
                <ul style="list-style-type:square">
                    <li>ASP.NET MVC 5</li>
                    <li>Entity Framework</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                    <li>AJAX</li>
                </ul>
            </p>
        </div>
    </div>

</div>