@model IEnumerable<CityLibrary.Models.Library.Book>

@{
    ViewBag.Title = "Dostępne książki";
}

@if (ViewBag.CollectionName == null)
{
    <h2>Wszystkie kolekcje</h2>
}
else
{
    <h2>Kolekcja <i>@ViewBag.CollectionName</i></h2>
}


<h4>Dostępne książki</h4>

<hr />

@if (Model.Count() != 0)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Title, @item.Author</li>
        }

    </ul>
}
else
{
    <span>Brak książek do wyświetlenia.</span>
}
