@model LibraryUser

<div class="modal-header">
    <h3 class="modal-title">Wypożycz książkę</h3>
    <h4>@Model.FullName</h4>
</div>
<div class="modal-body">
    <div class="content">
        @using (Ajax.BeginForm("BorrowBook_LoadBooks", new { id = Model.UserId }, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "bookDetailsPlaceHolder",
            OnComplete = "animateContentLoad(bookDetailsPlaceHolder)"
        }))
        {
            @Html.Hidden("autocompletesource", false);

            <div class="form-horizontal">
                <div class="form-group form-custom">
                    <div class="col-md-12">
                        @Html.TextBox("bookDetails", null, new { @class = "form-control pull-left", @placeholder = "Szukaj tytułu", data_source_autocomplete = Url.Action("Autocomplete", new { @type = "book" }) })
                        <span class="input-group-btn">
                            <button id="addCopySearchBtn" class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        }

        <div id="bookDetailsPlaceHolder" style="display:none">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
</div>

